@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-300.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-700.woff') format('woff'); 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-image: linear-gradient(to right bottom, #a479cc, #8fa1dd);
  min-height: 100vh;

}

main {
  margin-top: 100px;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  -webkit-box-shadow: 6px 13px 38px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 6px 13px 38px -4px rgba(0,0,0,0.65);
  box-shadow: 6px 13px 38px -4px rgba(0,0,0,0.65);
  border-radius: 3px;
}

.top, .bottom {
  background-image: linear-gradient(to right, #9d55e0, #7662ac);
}

.top, .bottom {
  display: flex;
  flex-direction: column;
}

.inner-top {
  display: flex;
  align-items: center;
  padding: 0 20px 15px 17px;
}

.inner-top p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

.inner-top button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 110px;
}

.top-img, .bottom-img {
  padding: 7px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.top-img img, .bottom-img img{
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
}

.vline {
  padding: 0;
  margin: 0;
  width: 2px;
  height: 20px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.long {
  height: 32px;
}

.middle {
  background-color: rgb(81, 61, 100);
}

.middle p {
  padding: 0;
  margin: 0;
  margin-left: 28px;
  font-size: 14px;
  font-weight: 500;
}

.middle p::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.img-paragraph {
  display: flex;
  align-items: center;
}

.bottom-img {
  margin-left: 16px;
}

.bottom p {
  margin: 0;
  padding: 0;
}